<div class="p-grid">
  <h1 class="p-col-12 align-text-center">About</h1>
  <div class="p-col-12">
    <hr />
  </div>
</div>
<div class="p-grid">
  <div class="p-col p-offset-3">
    <p-card>
      <div>
        <h1>Information</h1>
        <div>This site is powered by: Github Pages</div>
        <br />
      </div>
      <div>
        <div>
          This is an open source project created by BrianWuest(me) and is intended to be a platform for me to work with Web Technologies and provide a site for
          me and my friends to use.
        </div>
        <br />
        <h1>Trademarks</h1>
        <div>All Trademarks used (if any) on this site are registered Trademarks of their respective companies.</div>
      </div>
    </p-card>
  </div>
</div>
