<div class="list-group">
    <!--     <button type="button" class="list-group-item list-group-item-action" onclick="alert('clicked outer button');">
        <div class="container-fluid">
            <div class="row">
                <div class="col-5">
                    This is a test of a button in a button.
                </div>
                <button class="col-2 btn btn-default" onclick="event.stopPropagation(); alert('clicked inner button');">
                    test button
                </button>
            </div>
        </div>
    </button> -->
    <!-- <i class="ra ra-knight-helmet ra-2x"></i> -->
    <!-- <i class="ra ra-helmet ra-2x"></i> -->
    <button type="button" *ngFor='let character of characters' class="list-group-item list-group-item-action">
        <button type="button" class="btn btn-primary btn-md" (click)="character.openNumberChangeModal(character.ArmorClass, 'ArmorClass');">
            <span class="fa-stack fa-1x">
                <i class="fa icon-shield fa-stack-2x text-info"></i>
                <span class="fa fa-stack-1x">{{character.ArmorClass}}</span>
            </span>
        </button>
        <button type="button" class="btn btn-primary btn-md" (click)="character.openNumberChangeModal(character.Health, 'Health');">
            <span class="fa-stack fa-1x">
                <i class="far fa-heart fa-stack-2x text-danger"></i>
                <span class="fa fa-stack-1x">{{character.Health}}</span>
            </span>
        </button>
        <button type="button" class="btn btn-primary btn-md" (click)="character.openNumberChangeModal(character.Initiative, 'Initiative');">
            <i class="fas fa-walking fa-2x text-info"></i>
            <span class="center-icon-text">&nbsp;{{character.Initiative}}</span>
        </button>
    </button>
</div>