<div class="list-group">
    <button type="button" class="list-group-item list-group-item-action">
        <div class="container-fluid">
            <div class="row">
                <div class="col-5">
                    This is a test of a button in a button.
                </div>
                <button class="col-2 btn btn-default" onclick="alert('clicked inner button');">
                    test button
                </button>
            </div>
        </div>
    </button>
    <button type="button" class="list-group-item list-group-item-action">Dapibus ac facilisis in
        <i class="ra ra-knight-helmet ra-2x"></i>
    </button>
    <button type="button" class="list-group-item list-group-item-action">Morbi leo risus
        <i class="ra ra-helmet ra-2x"></i>
    </button>
    <button type="button" class="list-group-item list-group-item-action">
        <button type="button" class="btn btn-outline-primary btn-sm">
            <span class="fa-stack fa-1x">
                <i class="fa icon-shield fa-stack-2x text-danger"></i>
                <span class="fa fa-stack-1x">25</span>
            </span>
        </button>
        <button type="button" class="btn btn-outline-primary btn-sm">
            <span class="fa-stack fa-1x">
                <i class="far fa-heart fa-stack-2x text-danger"></i>
                <span class="fa fa-stack-1x">25</span>
            </span>
        </button>
    </button>
    <button type="button" class="list-group-item list-group-item-action" disabled>Vestibulum at eros</button>
</div>