<div class="row">
	<h1 class="col-xs-12 align-text-center">About</h1>
	<div class="col-xs-12">
		<hr />
	</div>
</div>
<div class="row">
	<div class="col-xs-6 col-xs-offset-3 well">
		<h1>Information</h1>
		<div>This site is powered by: Github Pages</div>
		<br/>
		<div>This is an open source project created by BrianWuest(me) and is intended to be a platform for me to work with Web Technologies
			and provide a site for me and my friends to use.
		</div>
		<br/>
		<div>Themes are provided by: <a href="https://bootswatch.com/" target="_blank">Bootswatch</a></div>
		<br />
		<h1>Trademarks</h1>
		<div>All Trademarks used (if any) on this site are registered Trademarks of their respective companies.</div>
	</div>
</div>
