<div class="ui-g">
  <h1 class="ui-g-12 align-text-center">
    Persona 5 Royal Day Event Guide
  </h1>
  <div class="ui-g-12"><hr /></div>
</div>
<div class="ui-g">
  <div class="ui-g-10 ui-md-offset-1">
    <p-tabView>
      <p-tabPanel *ngFor="let month of months; let i = index" [header]="month.name" [selected]="i == 0">
        <p-table [value]="month.events" [columns]="columns" [autoLayout]="true">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" [style.maxWidth]='col.width'>
                {{col.header}}
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-event let-columns="columns">
            <tr>
              <td *ngFor="let col of columns" [ngSwitch]="col.field" [style.maxWidth]='col.width'>
                <ul *ngSwitchCase="'dayTimeInfo'">
                  <li *ngFor="let info of event[col.field]">
                    {{info}}
                  </li>
                </ul>

                <ul *ngSwitchCase="'eveningInfo'">
                  <li *ngFor="let info of event[col.field]">
                    {{info}}
                  </li>
                </ul>

                <label *ngSwitchDefault>{{event[col.field]}}</label>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>