<nav class="navbar navbar-inverse" id="mainNavBar">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                <i class="fa fa-bars"></i>
            </button>
			<a class="navbar-brand" routerLink="welcome">
				<div><img class="navbar-image" src="./assets/images/ProfilePic.png" alt="Home" /> Home</div>
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li>
					<a role="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        RPG Tools<b class="caret"></b>
                    </a>
					<ul class="dropdown-menu">
						<li>
							<a routerLink="experience_calculator">
                                Experience Calculator
                            </a>
						</li>
						<li>
							<a routerLink="starfinder_pointbuy">
								Starfinder Point Buy
							</a>
						</li>
					</ul>
				</li>
				<!-- <li>
					<a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                        Minecraft Mods<b class="caret"></b>
                    </a>
					<ul class="dropdown-menu">
						<li>
							<a ng-href="#minecraft_prefab">
                                Prefab
                            </a>
						</li>
					</ul>
				</li> -->
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown" id="help-dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-question fa-lg">
                        </i> Help<b class="caret"></b>
                    </a>
					<ul class="dropdown-menu">
						<li class="button">
							<a href="https://github.com/Brian-Wuest/Brian-Wuest.github.io/issues/new" target="_blank">
                                <i class="fa fa-exclamation-circle fa-lg"></i> Report Issue
                            </a>
						</li>
						<li class="button">
							<a href="https://github.com/Brian-Wuest/Brian-Wuest.github.io/wiki" target="_blank">
                                <i class="fa fa-wikipedia-w fa-lg"></i> Open Wiki
                            </a>
						</li>
						<li class="button">
							<a routerLink="about">
                                <i class="fa fa-info-circle fa-lg"></i> About
                            </a>
						</li>
					</ul>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown" id="theme-dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-cog fa-lg">
						</i> Theme<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li *ngFor="let theme of themes">
							<a (click)="themeClick(theme)" id="theme_{{theme.name}}">
								<i class="fa fa-check" aria-hidden="true" *ngIf="theme.selected"></i>
								<span [class.dropdownPadding]="!theme.selected">{{theme.name}}</span>
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
