<div class="grid">
  <h1 class="col-12 align-text-center">Starfinder Character Attribute Point Buy</h1>
  <div class="col-12">
    <hr />
  </div>
</div>
<div class="grid">
  <div class="col-12 xl:col-3 xl:col-offset-1">
    <p-panel>
      <p-header class="align-text-center">
        <span class="ui-card-title">Race and Theme</span>
      </p-header>

      <form name="raceForm" id="raceForm">
        <div class="grid pad-top-5">
          <label class="col-12">Race: </label>
          <div class="col-12">
            <p-dropdown
              name="raceSelector"
              [options]="races"
              [(ngModel)]="currentRace"
              [autoDisplayFirst]="false"
              optionLabel="name"
              (onChange)="updateStats('raceForm', $event)"
            >
            </p-dropdown>
          </div>
        </div>
        <div class="grid pad-top-5">
          <label class="col-12">Theme: </label>
          <div class="col-12">
            <p-dropdown
              name="themeSelector"
              [options]="themes"
              [(ngModel)]="currentTheme"
              [autoDisplayFirst]="false"
              optionLabel="name"
              (onChange)="updateStats('raceForm', $event)"
            >
            </p-dropdown>
          </div>
        </div>
        <div class="grid pad-top-5" *ngIf="getIsHuman()">
          <label class="col-12 no-wrap">Human Attribute: </label>
          <div class="col-12">
            <p-dropdown
              name="humanSelector"
              [options]="characterAttributes"
              [(ngModel)]="humanModifier"
              [autoDisplayFirst]="false"
              optionLabel="name"
              (onChange)="updateStats('raceForm', $event)"
            >
            </p-dropdown>
          </div>
        </div>
        <div class="grid pad-top-5" *ngIf="getIsThemeLess()">
          <label class="col-12 no-wrap">Themeless Attribute: </label>
          <div class="col-12">
            <p-dropdown
              name="themelessSelector"
              [options]="characterAttributes"
              [(ngModel)]="themelessModifier"
              [autoDisplayFirst]="false"
              optionLabel="name"
              (onChange)="updateStats('raceForm', $event)"
            >
            </p-dropdown>
          </div>
        </div>
      </form>
    </p-panel>
  </div>

  <div class="col-12 xl:col-6 xl:col-offset-1">
    <p-panel>
      <p-header class="align-text-center">
        <span class="ui-card-title">Player Stats</span>
      </p-header>

      <form id="statsForm" name="statsForm">
        <div class="grid">
          <div class="col-12">
            <label style="padding-top: 0px">Available Points: {{ availablePoints }}</label>
          </div>
        </div>
        <div class="">
          <table class="">
            <thead>
              <th class="px-0"><span class="font-weight-bold no-wrap align-text-center">Name</span></th>
              <th class="px-0"><span class="font-weight-bold no-wrap align-text-center">Base</span></th>
              <th class="px-0"><span class="font-weight-bold no-wrap align-text-center">Points</span></th>
              <th class="px-0"><span class="font-weight-bold no-wrap align-text-center">Race</span></th>
              <th class="px-0"><span class="font-weight-bold no-wrap align-text-center">Theme</span></th>
              <th class="px-0"><span class="font-weight-bold no-wrap align-text-center">Result</span></th>
            </thead>

            <tbody>
              <tr class="pad-top-5" *ngFor="let attribute of characterAttributes">
                <td class="col-2 px-0">
                  <input class="col-12 align-text-center" pInputText readonly [value]="attribute.name" />
                </td>
                <td class="col-2 px-0">
                  <input class="col-12 align-text-center" pInputText readonly value="10" />
                </td>
                <td class="col-2 px-0">
                  <p-inputNumber
                    [name]="attribute.name"
                    class="align-text-center"
                    [min]="0"
                    [max]="getMaximumPoints(attribute)"
                    (onInput)="updateStats('statsForm', $event)"
                    (onBlur)="updateStats('statsForm', $event)"
                    [minFractionDigits]="0"
                    [maxFractionDigits]="0"
                    [showButtons]="true"
                    [(ngModel)]="attribute.points"
                  ></p-inputNumber>
                </td>
                <td class="col-2 px-0">
                  <input class="col-12 align-text-center" pInputText readonly [value]="getRacialStat(attribute)" />
                </td>
                <td class="col-2 px-0">
                  <input class="col-12 align-text-center" pInputText readonly [value]="getThemeStat(attribute)" />
                </td>
                <td class="col-2 px-0">
                  <input class="col-12 align-text-center" pInputText readonly [value]="getComputedStat(attribute)" />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
    </p-panel>
  </div>
</div>
