<div class="grid">
  <h1 class="col-12 align-text-center">Date/Time Calculations</h1>
  <div class="col-12">
    <hr />
  </div>
</div>
<div class="grid">
  <div class="col-12 xl:col-5 xl:col-offset-1">
    <p-panel>
      <p-header class="align-text-center">
        <span class="ui-card-title">Convert</span>
      </p-header>
      <div class="grid">
        <div class="col-4">
          <label for="firstPart">The Number of </label>
          <p-dropdown name="firstPart" [options]="datePartOptions" [(ngModel)]="selectedPartOneConverter" (onChange)="calculationChanged()"></p-dropdown>
        </div>
        <div class="col-5">
          <label for="secondPart">In</label>
          <div class="p-inputgroup">
            <p-inputNumber
              name="secondPart"
              mode="decimal"
              [minFractionDigits]="2"
              [maxFractionDigits]="2"
              [(ngModel)]="convertValue"
              (onChange)="calculationChanged()"
              [showButtons]="true"
            ></p-inputNumber>
            <span class="p-inputgroup-addon" style="padding: 0px">
              <p-dropdown [options]="datePartOptions" (onChange)="calculationChanged()" [(ngModel)]="selectedPartTwoConverter"></p-dropdown>
            </span>
          </div>
        </div>
        <div class="col-3">
          <label for="convertResult" class="w-full inline-block">Is</label>
          <p-inputNumber id="convertResult" name="convertResult" disabled [(ngModel)]="convertResult" mode="decimal"></p-inputNumber>
        </div>
      </div>
    </p-panel>
  </div>

  <div class="col-12 xl:col-5">
    <p-panel>
      <p-header class="align-text-center">
        <span class="ui-card-title">Date Difference</span>
      </p-header>
      <div class="grid">
        <div class="col-5">
          <label for="startValue">Start Date/Time</label>
          <p-calendar
            name="startValue"
            [(ngModel)]="dateDifferenceStart"
            showTime="true"
            showButtonBar="true"
            showIcon="true"
            (onBlur)="calculateDifference()"
            (onSelect)="calculateDifference()"
            (onClearClick)="calculateDifference()"
            (onTodayClick)="calculateDifference()"
          ></p-calendar>
        </div>

        <div class="col-5">
          <label for="startValue">End Date/Time</label>
          <p-calendar
            name="endValue"
            [(ngModel)]="dateDifferenceEnd"
            showTime="true"
            showButtonBar="true"
            showIcon="true"
            (onBlur)="calculateDifference()"
            (onSelect)="calculateDifference()"
            (onClearClick)="calculateDifference()"
            (onTodayClick)="calculateDifference()"
          ></p-calendar>
        </div>

        <div class="col-5">
          <label for="difference" class="inline-block w-full">Difference</label>
          <p-inputNumber name="difference" mode="decimal" [(ngModel)]="dateDifferenceResult" minFractionDigits="2" maxFracionDigits="2" [suffix]="getSuffix()">
          </p-inputNumber>
        </div>
        <div class="col-5">
          <label for="differenceType">Difference Type</label>
          <p-dropdown name="differenceType" [options]="datePartOptions" (onChange)="calculateDifference()" [(ngModel)]="dateDifferenceType"></p-dropdown>
        </div>
      </div>
    </p-panel>
  </div>

  <div class="col-12 xl:col-5 xl:col-offset-1">
    <p-panel>
      <p-header class="align-text-center">
        <span class="ui-card-title">Format Date/Time</span>
      </p-header>
      <div class="grid">
        <div class="col-5">
          <label for="dateToFormat">Date/Time To Format</label>
          <p-calendar
            name="dateToFormat"
            [(ngModel)]="dateToFormat"
            showTime="true"
            showButtonBar="true"
            showIcon="true"
            (onBlur)="updateFormat()"
            (onSelect)="updateFormat()"
            (onClearClick)="updateFormat()"
            (onTodayClick)="updateFormat()"
          ></p-calendar>
        </div>
        <div class="col-5">
          <label for="formatOptions">Format Options </label>
          <p-dropdown name="formatOptions" [options]="formatOptions" [(ngModel)]="formatOption" (onChange)="updateFormat()"></p-dropdown>
        </div>
        <div class="col-5">
          <div class="p-fluid">
            <div class="p-field">
              <label for="formatResult">Format Result</label>
              <input type="text" id="formatResult" pInputText name="formatResult" disabled [(ngModel)]="formatResult" />
            </div>
          </div>
        </div>
      </div>
    </p-panel>
  </div>
</div>
