<div class="row">
	<div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4">
		<div class="well">
			<h1>
				RPG Tools
			</h1>
			<p>
				The RPG Tools area is for quick tools to use in Dungeon and Dragons or similar RPGs. Mostly needed for Dungeon/Game Masters.
			</p>
		</div>
		<div class="well">
			<h1>
				Minecraft Mods
			</h1>
			<p>
				The Minecraft Mods area is for quick links and pages to the wiki pages for my Minecraft Mods as well as the CurseForge downloads.
			</p>
		</div>
	</div>
</div>
