<div class="row align-items-center">
	<div class="col-8 offset-2 col-md-4 offset-md-1">
		<div class="card">
			<h1 class="card-title">
				RPG Tools
			</h1>
			<p class="card-body">
				The RPG Tools area is for quick tools to use in Dungeon and Dragons or similar RPGs. Mostly needed for Dungeon/Game Masters.
			</p>
		</div>
	</div>
	<div class="col-8 offset-2 col-md-4 offset-md-1">
		<div class="card">
			<h1 class="card-title">
				Minecraft Mods
			</h1>
			<p class="card-body">
				The Minecraft Mods area is for quick links and pages to the wiki pages for my Minecraft Mods as well as the CurseForge downloads.
			</p>
		</div>
	</div>
</div>
