<div class="row align-items-center">
	<div class="col-8 offset-2 col-md-4 offset-md-1">
		<div class="card">
			<div class="card-header">
				RPG Tools
			</div>
			<div class="card-body bg-primary text-offwhite">
				The RPG Tools area is for quick tools to use in Dungeon and Dragons or similar RPGs. Mostly needed for Dungeon/Game Masters.
			</div>
		</div>
	</div>
	<div class="col-8 offset-2 col-md-4 offset-md-1">
		<div class="card">
			<div class="card-header">
				Minecraft Mods
			</div>
			<div class="card-body bg-primary text-offwhite">
				The Minecraft Mods area is for quick links and pages to the wiki pages for my Minecraft Mods as well as the CurseForge downloads.
			</div>
		</div>
	</div>
</div>
