<ng-template #pageHelpContent>
	<ul>
		<li>Add characters in the [Characters] card.</li>
		<li>Add stats from the [Character Details] card.</li>
		<li>Update stats in the [Update Stats] card.</li>
	</ul>
</ng-template>

<div class="row">
	<h1 class="col-12 align-text-center">RPG Stat Tracker
		<i class="fas fa-question fa-lg text-info" [ngbTooltip]="pageHelpContent" placement="bottom" style="font-size: x-large"></i></h1>
	<div class="col-12">
		<hr />
	</div>
</div>
<div class="row">
	<div class="col-6 col-md-4">
		<div class="card">
			<div class="card-header align-text-center">
				<div>Characters</div>
			</div>

			<div class="card-body">
				<div class="row">
					<div class="col-12">
						<div class="list-group">
							<button type="button" *ngFor="let character of characters" (click)="updateSelectedCharacter(character);" class="list-group-item list-group-item-action"
							    [ngClass]="{'active': character.selected}">{{character.name}}</button>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-12">
						<hr />
					</div>

					<div class="col-12" role="group">
						<button type="button" class="btn btn-primary" (click)='addCharacter();'>Add Character</button>
						<button type="button" class="btn btn-primary" (click)='removeCharacter();' [disabled]='selectedCharacter === null'>Remove Character</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-6 col-md-4">
		<div class="card">
			<div class="card-header align-text-center">
				<div>Character Details</div>
			</div>

			<form class="card-body" id="statsForm" name="statsForm">
				<div class="row form-group">
					<label class="col-3 no-wrap">Name: </label>
					<div class="col-6">
						<input type="text" name="characterName" class="form-control form-control-sm" required [ngModel]="selectedCharacter?.name"
						    (ngModelChange)="checkStatsForm('statsForm', $event)" [disabled]='selectedCharacter === null' style="margin-top:4px"
						/>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="list-group">
							<div *ngFor="let stat of selectedCharacter?.stats" (click)="updateSelectedStat(stat);" class="list-group-item list-group-item-action"
							    [ngClass]="{'active': stat.selected}">
								<div class="row">
									<div class="col-6"><span>{{stat.name}}: {{stat.value}}</span></div>
									<div class="col-3 offset-md-1 button-group">
										<button type="button" class="btn btn-primary btn-sm"><i class="fas fa-plus"></i></button>
										<button type="button" class="btn btn-primary btn-sm"><i class="fas fa-minus"></i></button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-12">
						<hr />
					</div>

					<div class="col-12" role="group">
						<button type="button" class="btn btn-primary" [disabled]='selectedCharacter === null' (click)='addStat();'>Add Stat</button>
						<button type="button" class="btn btn-primary" [disabled]='selectedCharacter === null' (click)='removeStat();'>Remove Stat</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="col-12 col-md-4">
		<div class="card">
			<div class="card-header align-text-center">
				<div>Update Stats</div>
			</div>

			<form class="card-body" id="updateStatsForm" name="updateStatsForm">
				<div class="row form-group">
					<label class="col-4 no-wrap">Name:</label>
					<div class="col-6">
						<input type="text" name="statName" class="form-control form-control-sm" required [ngModel]="selectedStat?.name" (ngModelChange)="checkUpdateForm('updateStatsForm', $event, 'name')"
						    [disabled]='selectedStat === null' />
					</div>
				</div>

				<div class="row form-group">
					<label class="col-4 no-wrap">Value:</label>
					<div class="col-6">
						<input type="number" [min]="selectedStat?.minValue" [max]="selectedStat?.maxValue" step="0.1" name="statValue" class="form-control form-control-sm"
						    [ngModel]="selectedStat?.value" (ngModelChange)="checkUpdateForm('updateStatsForm', $event, 'value')" [disabled]='selectedStat === null'
						/>
					</div>
				</div>

				<div class="row form-group">
					<label class="col-4 no-wrap">Min Value:</label>
					<div class="col-6">
						<input type="number" min="-9999" [max]="selectedStat?.maxValue" step="0.1" name="minValue" class="form-control form-control-sm"
						    [ngModel]="selectedStat?.minValue" (ngModelChange)="checkUpdateForm('updateStatsForm', $event, 'min')" [disabled]='selectedStat === null'
						/>
					</div>
				</div>

				<div class="row form-group">
					<label class="col-4 no-wrap">Max Value:</label>
					<div class="col-6">
						<input type="number" [min]="selectedStat?.minValue" max="9999" step="0.1" name="maxValue" class="form-control form-control-sm"
						    [ngModel]="selectedStat?.maxValue" (ngModelChange)="checkUpdateForm('updateStatsForm', $event, 'max')" [disabled]='selectedStat === null'
						/>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
