<div class="p-grid">
  <h1 class="p-col-12 align-text-center">Date/Time Calculations</h1>
  <div class="p-col-12">
    <hr />
  </div>
</div>
<div class="p-grid">
  <div class="p-col-5 p-offset-1">
    <p-card>
      <p-header class="align-text-center">
        <span class="ui-card-title">Convert</span>
      </p-header>
      <div class="p-grid">
        <div class="p-col-4">
          <label for="firstPart">The Number of </label>
          <p-dropdown name="firstPart" [options]="datePartOptions" [(ngModel)]="selectedPartOneConverter" (onChange)="calculationChanged()"></p-dropdown>
        </div>
        <div class="p-col-5">
          <label for="secondPart">In</label>
          <div class="ui-inputgroup">
            <p-spinner name="secondPart" step="0.01" [(ngModel)]="convertValue" (onChange)="calculationChanged()"></p-spinner>
            <span class="ui-inputgroup-addon" style="padding: 0px">
              <p-dropdown [options]="datePartOptions" (onChange)="calculationChanged()" [(ngModel)]="selectedPartTwoConverter"></p-dropdown>
            </span>
          </div>
        </div>
        <div class="p-col-3">
          <label for="convertResult">Is</label>
          <p-spinner name="convertResult" disabled [(ngModel)]="convertResult"></p-spinner>
        </div>
      </div>
    </p-card>
  </div>

  <div class="p-col-5">
    <p-card>
      <p-header class="align-text-center">
        <span class="ui-card-title">Date Difference</span>
      </p-header>
      <div class="p-grid">
        <div class="p-col-5">
          <label for="startValue">Start Date/Time</label>
          <p-calendar
            name="startValue"
            [(ngModel)]="dateDifferenceStart"
            showTime="true"
            showButtonBar="true"
            showIcon="true"
            (onBlur)="calculateDifference()"
            (onSelect)="calculateDifference()"
            (onClearClick)="calculateDifference()"
            (onTodayClick)="calculateDifference()"
          ></p-calendar>
        </div>

        <div class="p-col-5">
          <label for="startValue">End Date/Time</label>
          <p-calendar
            name="endValue"
            [(ngModel)]="dateDifferenceEnd"
            showTime="true"
            showButtonBar="true"
            showIcon="true"
            (onBlur)="calculateDifference()"
            (onSelect)="calculateDifference()"
            (onClearClick)="calculateDifference()"
            (onTodayClick)="calculateDifference()"
          ></p-calendar>
        </div>

        <div class="p-col-5">
          <label for="difference">Difference</label>
          <p-inputNumber name="difference" mode="decimal" [(ngModel)]="dateDifferenceResult" minFractionDigits="2" maxFracionDigits="2" [suffix]="getSuffix()">
          </p-inputNumber>
        </div>
        <div class="p-col-5">
          <label for="differenceType">Difference Type</label>
          <p-dropdown name="differenceType" [options]="datePartOptions" (onChange)="calculateDifference()" [(ngModel)]="dateDifferenceType"></p-dropdown>
        </div>
      </div>
    </p-card>
  </div>

  <div class="p-col-5 p-offset-1">
    <p-card>
      <p-header class="align-text-center">
        <span class="ui-card-title">Format Date/Time</span>
      </p-header>
      <div class="p-grid">
        <div class="p-col-5">
          <label for="dateToFormat">Date/Time To Format</label>
          <p-calendar
            name="dateToFormat"
            [(ngModel)]="dateToFormat"
            showTime="true"
            showButtonBar="true"
            showIcon="true"
            (onBlur)="updateFormat()"
            (onSelect)="updateFormat()"
            (onClearClick)="updateFormat()"
            (onTodayClick)="updateFormat()"
          ></p-calendar>
        </div>
        <div class="p-col-5">
          <label for="formatOptions">Format Options </label>
          <p-dropdown name="formatOptions" [options]="formatOptions" [(ngModel)]="formatOption" (onChange)="updateFormat()"></p-dropdown>
        </div>
        <div class="p-col-5">
          <div class="ui-fluid">
            <div class="p-field">
              <label for="formatResult">Format Result</label>
              <input type="text" id="formatResult" pInputText name="formatResult" disabled [(ngModel)]="formatResult" />
            </div>
          </div>
        </div>
      </div>
    </p-card>
  </div>
</div>
