$body-background: #1c2937;
$dark-border: #121213;
$dark-background: #1b3548;
$grey: #9fadb7;
$reg-background: #5c6bc0;
$white: #ffffff;
$red: red;
$border-radius: 2px;
$overlay-color: #d8d8d8;
$hover-color: #4150a8;
$input-background: #141e27;
$input-color: #d8d8d8;
$light-hover: #4a5ab9;

$reg-blue: #39a3f4;
$focus-blue: #2189f3;
$active-blue: #0d8ced;

$reg-purple: #7e57c2;
$focus-purple: #7044bb;
$active-purple: #643da9;

$reg-orange: #f6a821;
$focus-orange: #f49e0a;
$active-orange: #db8e09;

$reg-pink: #ec407a;
$focus-pink: #ea296a;
$active-pink: #e2175b;

$reg-green: #6ebc3b;
$focus-green: #63a935;
$active-green: #57952f;

$reg-red: #ef5350;
$focus-red: #ed3c39;
$active-red: #eb2521;

$reg-yellow: #ffc800;
$focus-yellow: #e6b400;
$active-yellow: #cca000;

$reg-cyan: #26c6da;
$focus-cyan: #22b3c5;
$active-cyan: #1e9faf;
