@import './font-libraries/font_icons/rpg-awesome.min.css';
@import './font-libraries/font_icons/fontello.css';

html {
  height: 100%;
  body {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
    background-color: var(--surface-a);
    color: var(--text-color);

    .ui-spinner-input,
    .p-inputnumber-input {
      width: 100%;
    }

    .p-dropdown {
      min-width: 100%;

      &::before {
        display: inline;
      }

      .p-dropdown-label {
        min-height: 31px;
      }
    }

    .p-fluid {
      .ui-inputtext {
        width: 100%;
      }
    }

    .p-inputnumber,
    .p-calendar {
      width: 100%;
      min-height: 33px;

      .p-datepicker {
        width: 100%;

        table {
          td {
            padding: 0px;
          }
        }
      }
    }

    .p-calendar-w-btn {
      input.ui-inputtext {
        width: calc(100% - 2.357em);
      }
    }

    .ui-card-header {
      text-align: center;
    }

    p {
      margin-block-end: 0.1em;
      margin-block-start: 0.1em;
    }

    h5 {
      margin-block-start: 1.2em;
      margin-block-end: 1.2em;
    }

    /*   .ui-panel-content {
    a {
      color: #9593ff;

      &:hover {
        color: #716ff0;
      }
    }
  } */

    .align-text-center {
      text-align: center;
    }

    .p-inputgroup-addon {
      display: contents;
      .p-dropdown {
        border-width: 0px;
        min-height: 39px;
      }
    }

    .p-tabview {
      .p-tabview-panel {
        border-width: 1px;
      }
    }

    .no-pad-right-left {
      padding-right: 0px;
      padding-left: 0px;
    }

    .no-pad-top-bottom {
      padding-top: 0px !important;
      padding-bottom: 0px !important;
    }

    .p-menuitem-link-active {
      background-color: var(--surface-d);
    }

    .p-tabview {
      .p-tabview-panels {
        border-width: 1px;
        border-style: solid;
        border-color: var(--surface-d);
      }
    }
  }
}
