$background_base: #141d26;
$color_ebony_clay_approx: #1c2937;
$color_bunker_approx: #121213;
$color_elephant_approx: #1b3548;
$color_gull_gray_approx: #9fadb7;
$color_indigo_approx: #5c6bc0;
$white: #ffffff;
$red: red;
$color_iron_approx: #d8d8d8;
$color_sapphire_approx: #4150a8;
$color_mirage_approx: #141e27;
$color_moody_blue_approx: #6e7cc7;
$color_picton_blue_approx: #39a3f4;
$color_dodger_blue_approx: #1c96f2;
$color_azure_radiance_approx: #0d89e8;
$color_fuchsia_blue_approx: #7e57c2;
$color_studio_approx: #7044bb;
$color_lilac_bush_approx: #9271cc;
$color_royal_purple_approx: #643da9;
$color_fuel_yellow_approx: #f6a821;
$color_gamboge_approx: #ef9b0a;
$color_yellow_orange_approx: #f7b23a;
$color_golden_bell_approx: #db8e09;
$color_violet_red_approx: #ec407a;
$color_cerise_red_approx: #ea296a;
$color_french_rose_approx: #ee578a;
$color_razzmatazz_approx: #e2175b;
$color_sushi_approx: #6ebc3b;
$color_apple_approx: #63a935;
$color_mantis_approx: #7bc64a;
$color_vida_loca_approx: #57952f;
$color_carnation_approx: #ef5350;
$color_cinnabar_approx: #ed3c39;
$color_sunglo_approx: #f16a67;
$color_alizarin_crimson_approx: #ea201d;
$color_supernova_approx: #ffc800;
$color_corn_approx: #ebb800;
$color_candlelight_approx: #ffcc14;
$color_galliano_approx: #d6a800;
$color_scooter_approx: #26c6da;
$color_java_approx: #22b3c5;
$color_eastern_blue_approx: #1e9faf;
$color_san_marino_approx: #4757b7;
$color_black_approx: #030405;
$color_blue_bell_approx: #939dd5;
$silver_chalice: #acacac;
$gray: grey;
$black_30: rgba(0, 0, 0, 0.3);
$black_20: rgba(0, 0, 0, 0.2);
$color_chambray_approx: #3a4896;
$color_chetwode_blue_approx: #818cce;
$color_alabaster_approx: #f9f9f9;
$color_tundora_approx: #444444;
$color_bright_gray_approx: #323e4b;
$color_wistful_approx: #a6aedc;
$color_fiord_approx: #485d6c;
$color_firefly_approx: #15222f;
$color_regent_gray_approx: #8294a1;
$color_astronaut_approx: #2c3671;
$black: black;
$color_denim_approx: #0a6ab3;
$color_dark_denim_approx: #0a4ab3;
$color_chelsea_cucumber_approx: #79ab58;
$color_clover_approx: #314723;
$color_antique_bronze_approx: #665000;
$color_tamarillo_approx: #98110e;
$color_mercury_approx: #e6e6e6;
$color_cloud_burst_approx: #243447;
$color_mirage_approx: #151f2a;
$color_mine_shaft_approx: #333;
$color_vulcan_approx: #0e141c;
$color_silver_chalice_approx: #aaaaaa;
$color_abbey_approx: #4f575b;
$color_dove_gray_approx: #6c6c6c;
$color_dodger_blue_approx: #279cf5;
$color_matisse_approx: #1164a3;
$color_lima_approx: #66b92d;
$color_la_palma_approx: #447d1d;
$color_anzac_approx: #dea242;
$color_brandy_punch_approx: #d5942e;
$color_kumera_approx: #90631d;
$color_japonica_approx: #d67161;
$color_red_damask_approx: #d65c49;
$color_prairie_sand_approx: #943728;
$color_cadet_blue_approx: #afafc0;
$color_nobel_approx: #b2b2b2;
$color_cerulean_approx: #039ade;
$color_chestnut_rose_approx: #d66351;
$color_cape_cod_approx: #424242;
$color_mercury_approx: #e1e6e9;
$color_gallery_approx: #eaeeef;
$color_shark_approx: #282929;
